In [1]:
# Feature Engineering Notebook

import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/nifty_merged_5min.csv")

data.head()

,datetime,open_spot,high_spot,low_spot,close_spot,volume_spot,open_fut,high_fut,low_fut,close_fut,volume_fut,open_interest,call_oi,put_oi,call_volume,put_volume,call_iv,put_iv
0,2024-01-01 00:00:00,18000.496714,18003.846366,17996.115338,17997.463213,266412,18000.496714,18003.846366,17996.115338,18011.933319,266412,136799,68084,40622,15638,17467,0.127579,0.237660
1,2024-01-01 00:05:00,18000.358450,18002.449807,17999.624023,18001.414868,205219,18000.358450,18002.449807,17999.624023,18014.698774,205219,98367,20352,75264,10828,11163,0.249795,0.176499
2,2024-01-01 00:10:00,18001.006138,18013.734743,17998.845623,18007.006533,105033,18001.006138,18013.734743,17998.845623,18011.563403,105033,63201,76095,48584,9994,18935,0.217812,0.183452
3,2024-01-01 00:15:00,18002.529168,18016.658683,17995.751955,18000.069656,173324,18002.529168,18016.658683,17995.751955,18006.700648,173324,52739,41586,67850,16556,17919,0.232307,0.240565
4,2024-01-01 00:20:00,18002.295015,18002.926738,17986.243301,17992.912251,115689,18002.295015,18002.926738,17986.243301,18013.520479,115689,63231,25344,24722,11436,12635,0.204656,0.187729

In [3]:
data["ema_5"] = data["close_spot"].ewm(span=5, adjust=False).mean()
data["ema_15"] = data["close_spot"].ewm(span=15, adjust=False).mean()

data[["ema_5", "ema_15"]].head()

          ema_5        ema_15
0  17997.463213  17997.463213
1  17998.780431  17997.957170
2  18001.522465  17999.088340
3  18001.038195  17999.211005
4  17998.329547  17998.423660

In [4]:
data["spot_return"] = data["close_spot"].pct_change()
data["futures_return"] = data["close_fut"].pct_change()

In [5]:
data["futures_basis"] = (
    data["close_fut"] - data["close_spot"]
) / data["close_spot"]

In [6]:
data["pcr_oi"] = data["put_oi"] / data["call_oi"]
data["pcr_volume"] = data["put_volume"] / data["call_volume"]

In [7]:
data["avg_iv"] = (data["call_iv"] + data["put_iv"]) / 2

In [8]:
data.dropna(inplace=True)

In [9]:
data.to_csv("../data/nifty_features_5min.csv", index=False)
print("Feature engineering completed and saved")

Feature engineering completed and saved